
@{
    ViewData["Title"] = "Nope Delete";
}

<div>
<h1 class="text-danger">Yemeği olan kategoriler silinemez.</h1>
<h2 class="text-danger">Önce Yemek listesinden ilgili kategoriyle bağlantılı olan yemekleri siliniz.</h2>
</div>

<div>
    <a asp-controller="Foods" asp-action="Index">Back to Food List</a>
</div>

<div>
    <a asp-controller="Categories" asp-action="Index">Back to Category List</a>
</div>
